$red: #d31335;
$sub: #0a0a0a;
$black: #000000;
$white: #ffffff;

$size-S: 40px;
$font-S: 15px;
$padding-S: 10px;

$size-M: 50px;
$font-M: 17px;
$padding-M: 15px;

$size-L: 60px;
$font-L: 19px;
$padding-L: 20px;
