.blog__replays {
    ////////// blog__replay //////////
    display: flex;
    flex-direction: column;
    row-gap: var(--px25);
    .blog__replay {
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
            column-gap: var(--px25);
        }

        .replay__image {
            ////////// replay__image //////////
            img {
                width: 80px;
                height: 80px;
            }
        }
        .replay__content {
            ////////// replay__content //////////
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            span.date {
                font-size: 12px;
                color: var(--w-less);
            }
        }
    }
}
