.pagination {
    .container {
        display: flex;
        column-gap: 10px;
        justify-content: center;

        button {
            &.active,
            &:hover {
                background: var(--red);
            }
        }
    }
}
