.portfoliocontrols {
    .container {
        display: flex;
        flex-direction: column;
        row-gap: var(--px50);
        @include sm {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .controls {
        ////////// portfolio__prev && portfolio__next //////////
        padding: var(--px15);
        border: 1px solid var(--border-1);
        a {
            display: flex;
            align-items: center;
            justify-content: space-around;
            column-gap: 15px;
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
            svg {
                color: var(--white);
            }
        }
    }
}
