.img__parts {
    .part {
        margin: 0 7px;
        overflow: hidden;
        &:first-of-type {
            margin: 0 7px 0 0;
            transform: translateY(12.5px);
        }
        &:last-of-type {
            margin: 0 0 0 7px;
            transform: translateY(-12.5px);
        }
        img {
            user-select: none;
        }
    }
}
